<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Menu/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Menu/bg_quit_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{700,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,651}}</string>
                <key>sourceSize</key>
                <string>{700,651}</string>
            </dict>
            <key>Menu/bg_rate_app.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{700,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,651}}</string>
                <key>sourceSize</key>
                <string>{700,651}</string>
            </dict>
            <key>Menu/bg_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,720},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Menu/btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{192,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,93}}</string>
                <key>sourceSize</key>
                <string>{192,93}</string>
            </dict>
            <key>Menu/btn_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1440},{149,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,163}}</string>
                <key>sourceSize</key>
                <string>{149,163}</string>
            </dict>
            <key>Menu/btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1440},{121,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,67}}</string>
                <key>sourceSize</key>
                <string>{121,67}</string>
            </dict>
            <key>Menu/btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1440},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>Menu/btn_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1440},{149,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,163}}</string>
                <key>sourceSize</key>
                <string>{149,163}</string>
            </dict>
            <key>Menu/btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1440},{192,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,93}}</string>
                <key>sourceSize</key>
                <string>{192,93}</string>
            </dict>
            <key>Menu/btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1440},{215,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,227}}</string>
                <key>sourceSize</key>
                <string>{215,227}</string>
            </dict>
            <key>Menu/btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1440},{121,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,67}}</string>
                <key>sourceSize</key>
                <string>{121,67}</string>
            </dict>
            <key>Menu/ic_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1440},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>Menu/ic_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1440},{648,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,208}}</string>
                <key>sourceSize</key>
                <string>{648,208}</string>
            </dict>
            <key>Menu/ic_mode_animal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1667},{256,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{256,295}</string>
            </dict>
            <key>Menu/ic_mode_animal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1667},{256,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{256,295}</string>
            </dict>
            <key>Menu/ic_mode_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1667},{256,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{256,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1980,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aada00ff1e0f9a0b2e220459bc47c33:e48672f85b9840e98c68adc670c1fe21:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
